.bg-video{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -100;
    opacity: .15;

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}